h1,h2{
	text-align: center
}

.replies-author{
	font-style: italic;
}
section{
	margin-bottom: -15px;
}
span.badge{
	font-size:10px;
	background-color: #5BC0DE;
}
a.postLink:visited{
	text-decoration: none;
}
a.postLink:hover{
	text-decoration: none;
	color: #2D6CA2;
}