p {
	font-family: "Lato","Helvetica Neue","Helvetica",sans-serif;
	font-size: 20px;
}
.even {
	background-color: #F3F3F3;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left:   40px;
	padding-right:  40px;
}

.odd{
	background-color: #C5FFB2;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left:   40px;
	padding-right:  40px;
}

.button{
	padding-top: 40px;
	padding-bottom: 40px;
	margin: 0 auto;
	float: none;
}
.img-responsive{
	width: 400px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
}

h1{
	text-align: left;
}