p {
	font-size: 20px;
}

.btn-default{
	background-color:#F2AE47;
}
.row-top {
	background-color: #B0C4DE;
	position: relative;
}

.row-top-img {
/*	background-color: #B0C4DE;*/
}

.row-even {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left:   40px;
	padding-right:  40px;
}

.row-odd{
/*	background-color: #B0C4DE;*/
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left:   40px;
	padding-right:  40px;
}

.button{
	padding-top: 40px;
	padding-bottom: 40px;
	margin: 0 auto;
	float: none;
}

.img-top {
	padding-left: 120px;
}

.img-responsive{
	 margin: 0 auto;
}

.img-odd {
	padding-left: 40px;
}

.img-even {
	padding-left: 30px;
}

.txt-top {
	padding-top: 50px;
	padding-bottom: 30px;
	position: absolute;
	bottom: 0;
}

.txt-odd {
	padding-top: 80px;
	padding-bottom: 40px;
	padding-left: 50px;
}

.txt-even {
	padding-top: 100px;
	padding-bottom: 40px;
	padding-left: 50px;
}

h1{
	text-align: left;
}

.fa-desktop {
	font-size: 20em;
	padding-top: 20px;
}

.fa-tablet {
	font-size: 12em;
}

.fa-comments {
	font-size: 7em;
	padding-left: 175px;
	padding-top: 60px;
}

.fa-users {
	padding-top: 75px;
	padding-left: 25px;
	font-size: 8em;
}

.fa-users-2 {
	padding-left: 310px;
}

.fa-user {
	padding-top: 120px;
	padding-left: 170px;
	font-size: 10em;
}

.fa-gears {
	font-size: 13em;
	padding-top: 12px;
	padding-left: 100px;
}

.fa-arrow-left {
	font-size: 10em;
}
.fa-arrow-right {
	font-size: 10em;
}

.fa-gray {
	color: #808080;
}

.fa-file-text {
	font-size: 5em;
	padding-top: 155px;
	padding-left: 115px;
}

.fa-picture-o {
	font-size: 5em;
	padding-left: 155px;
	padding-top: 55px;
}

.fa-cloud {
	font-size: 18em;
	padding-top: 150px;
	padding-left: 50px;
}

.fa-video-camera {
	font-size: 5em;
	padding-top: 155px;
	padding-left: 250px;
}
.bottom-text{
	margin-top: 15px;
	background-color: #2C3E50;
	color: white;
}

.btn-lg, .btn-group-lg > .btn {
	margin-bottom: 10px;
	background-color: #F2AE47;
}